<div class="tile is-parent text-center">
        <article class="tile is-2 mx-auto is-child  has-text-centered bg-amber pt-3  " >
          Unavailable 1
        </article>
        <article class="tile is-child bg-red  ">
          <input type="radio"  data-role="radio" data-caption="Farkas" data-cls-radio=" pt-3 " data-cls-caption="  fg-white is-size-6 pt-1 " name="UnavailableEarly1" value="Farkas" class="text-center text-bold "> </input>
          <input type="radio"  data-role="radio" data-caption="Arcot" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly1" value="Arcot" class="text-center text-bold"> </input>
          <input type="radio"  data-role="radio" data-caption="Tiwari" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly1" value="Tiwari" class="text-center text-bold"> </input>
          <input type="radio"  data-role="radio" data-caption="Parrella" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly1" value="Parrella" class="text-center text-bold"> </input>
          <input type="radio"  data-role="radio" data-caption="Liff" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly1" value="Liff" class="text-center text-bold"> </input>
          <input type="radio"  data-role="radio" data-caption="Berekashvili" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly1" value="Berekashvili" class="text-center text-bold"> </input>
          <input type="radio"  data-role="radio" data-caption="Boyd" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly1" value="Boyd" class="text-center text-bold"> </input>
          <input type="radio"  data-role="radio" data-caption="Klippel" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly1" value="Klippel" class="text-center text-bold"> </input>
          <input type="radio"  data-role="radio" data-caption="None" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly1" value="None" class="text-center text-bold"> </input>
        </article>

      </div>
      <div class="tile is-parent text-center">
              <article class="tile is-2 mx-auto is-child  has-text-centered bg-amber pt-3  " >
                Unavailable  2
              </article>
              <article class="tile is-child bg-red  ">
                <input type="radio"  data-role="radio" data-caption="Farkas" data-cls-radio=" pt-3 " data-cls-caption="  fg-white is-size-6 pt-1 " name="UnavailableEarly2" value="Farkas" class="text-center text-bold "> </input>
                <input type="radio"  data-role="radio" data-caption="Arcot" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly2" value="Arcot" class="text-center text-bold"> </input>
                <input type="radio"  data-role="radio" data-caption="Tiwari" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly2" value="Tiwari" class="text-center text-bold"> </input>
                <input type="radio"  data-role="radio" data-caption="Parrella" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly2" value="Parrella" class="text-center text-bold"> </input>
                <input type="radio"  data-role="radio" data-caption="Liff" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly2" value="Liff" class="text-center text-bold"> </input>
                <input type="radio"  data-role="radio" data-caption="Berekashvili" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly2" value="Berekashvili" class="text-center text-bold"> </input>
                <input type="radio"  data-role="radio" data-caption="Boyd" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly2" value="Boyd" class="text-center text-bold"> </input>
                <input type="radio"  data-role="radio" data-caption="Klippel" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly2" value="Klippel" class="text-center text-bold"> </input>
                <input type="radio"  data-role="radio" data-caption="None" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly2" value="None" class="text-center text-bold"> </input>
              </article>

            </div>
            <div class="tile is-parent text-center">
                    <article class="tile is-2 mx-auto is-child  has-text-centered bg-amber pt-3  " >
                      Unavailable  3
                    </article>
                    <article class="tile is-child bg-red  ">
                      <input type="radio"  data-role="radio" data-caption="Farkas" data-cls-radio=" pt-3 " data-cls-caption="  fg-white is-size-6 pt-1 " name="UnavailableEarly3" value="Farkas" class="text-center text-bold "> </input>
                      <input type="radio"  data-role="radio" data-caption="Arcot" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly3" value="Arcot" class="text-center text-bold"> </input>
                      <input type="radio"  data-role="radio" data-caption="Tiwari" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly3" value="Tiwari" class="text-center text-bold"> </input>
                      <input type="radio"  data-role="radio" data-caption="Parrella" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly3" value="Parrella" class="text-center text-bold"> </input>
                      <input type="radio"  data-role="radio" data-caption="Liff" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly3" value="Liff" class="text-center text-bold"> </input>
                      <input type="radio"  data-role="radio" data-caption="Berekashvili" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly3" value="Berekashvili" class="text-center text-bold"> </input>
                      <input type="radio"  data-role="radio" data-caption="Boyd" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly3" value="Boyd" class="text-center text-bold"> </input>
                      <input type="radio"  data-role="radio" data-caption="Klippel" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly3" value="Klippel" class="text-center text-bold"> </input>
                      <input type="radio"  data-role="radio" data-caption="None" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly3" value="None" class="text-center text-bold"> </input>
                    </article>

                  </div>
                  <div class="tile is-parent text-center">
                          <article class="tile is-2 mx-auto is-child  has-text-centered bg-amber pt-3  " >
                            Unavailable  4
                          </article>
                          <article class="tile is-child bg-red  ">
                            <input type="radio"  data-role="radio" data-caption="Farkas" data-cls-radio=" pt-3 " data-cls-caption="  fg-white is-size-6 pt-1 " name="UnavailableEarly4" value="Farkas" class="text-center text-bold "> </input>
                            <input type="radio"  data-role="radio" data-caption="Arcot" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly4" value="Arcot" class="text-center text-bold"> </input>
                            <input type="radio"  data-role="radio" data-caption="Tiwari" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly4" value="Tiwari" class="text-center text-bold"> </input>
                            <input type="radio"  data-role="radio" data-caption="Parrella" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly4" value="Parrella" class="text-center text-bold"> </input>
                            <input type="radio"  data-role="radio" data-caption="Liff" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly4" value="Liff" class="text-center text-bold"> </input>
                            <input type="radio"  data-role="radio" data-caption="Berekashvili" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly4" value="Berekashvili" class="text-center text-bold"> </input>
                            <input type="radio"  data-role="radio" data-caption="Boyd" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly4" value="Boyd" class="text-center text-bold"> </input>
                            <input type="radio"  data-role="radio" data-caption="Klippel" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly4" value="Klippel" class="text-center text-bold"> </input>
                            <input type="radio"  data-role="radio" data-caption="None" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableEarly4" value="None" class="text-center text-bold"> </input>
                          </article>

                        </div>
      <div class="tile is-parent text-center">
              <article class="tile is-2 mx-auto is-child pt-3 has-text-centered bg-yellow  " >
                Unavailable 5
              </article>
              <article class="tile is-child bg-red  ">
                <input type="radio"  data-role="radio" data-caption="Farkas" data-cls-radio=" pt-3 " data-cls-caption="  fg-white is-size-6 pt-1 " name="UnavailableLate" value="Farkas" class="text-center text-bold "> </input>
                <input type="radio"  data-role="radio" data-caption="Arcot" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableLate" value="Arcot" class="text-center text-bold"> </input>
                <input type="radio"  data-role="radio" data-caption="Tiwari" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableLate" value="Tiwari" class="text-center text-bold"> </input>
                <input type="radio"  data-role="radio" data-caption="Parrella" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableLate" value="Parrella" class="text-center text-bold"> </input>
                <input type="radio"  data-role="radio" data-caption="Liff" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableLate" value="Liff" class="text-center text-bold"> </input>
                <input type="radio"  data-role="radio" data-caption="Berekashvili" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableLate" value="Berekashvili" class="text-center text-bold"> </input>
                <input type="radio"  data-role="radio" data-caption="Boyd" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableLate" value="Boyd" class="text-center text-bold"> </input>
                <input type="radio"  data-role="radio" data-caption="Klippel" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableLate" value="Klippel" class="text-center text-bold"> </input>
                <input type="radio"  data-role="radio" data-caption="None" data-cls-radio=" pt-3"data-cls-caption=" fg-white is-size-6 pt-1 " name="UnavailableLate" value="None" class="text-center text-bold"> </input>
              </article>

            </div>
